@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Quicksand',sans-serif;
  --uno: #393e41;
  --dos: #d3d0cb;
  --tres: #e2c044;
  --cuatro: #587b7f;
  --cinco: #1e2019;
}


/* Unicos */
.bg-img{
  background-color: var(--tres);
  background-image: url(../IMG/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

section{
  width: 70%;
  background: rgba(210,207,202,.96);
  border-radius: 0.625rem;
}
.titulo-app{
  font-size: 1.9rem;
  font-weight: 700;
}

button{
  cursor: pointer;
  padding: 10px;
  border: none;
  background: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type=number]{
  -moz-appearance: textfield;
}

input{
  border: none;
  background: none;
}

ul{
  list-style: circle;
}

select{
  border: none;
  background: none;
}

.red{
  background: #b6372b;
}
.menu-item{
  color: var(--tres);
  display: block;
  padding: 1.25rem;
  text-decoration: none;
  border-bottom: 1px solid var(--dos);
  margin: 0 0.625rem;;

}
.menu-item:hover{
  background: rgba(210,207,202,.96);
}
nav{
  display: none;
  position: fixed;
}






/* Backgrounds */

.bg-uno{
  background-color: var(--uno);
}
.bg-dos{
  background: var(--dos);
}
.bg-tres{
  background: var(--tres);
}
.bg-cuatro{
  background: var(--cuatro);
}
.bg-cinco{
  background: var(--cinco);
}


/* Align-Text */

.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.text-align-justify{
  text-align: justify;
}



/* text colors */
.color-uno{
  color: var(--uno);
}
.color-dos{
  color: var(--dos);
}
.color-tres{
  color: var(--tres);
}
.color-cuatro{
  color: var(--cuatro);
}
.color-cinco{
  color: var(--cinco);
}


/* Font size */

.font-size-2{
  font-size: 1.125rem;
}
.font-size-3{
  font-size: 1.5rem;
}
.font-size-4{
  font-size: 1.9rem;
}
.font-size-5{
  font-size: 2.5rem;
}
.font-size-6{
  font-size: 3.125rem;
}
.font-size-7{
  font-size: 4rem;
}

/* Margin */

.m-a{
  margin: auto;
}
/* Margin 10 */
.m-10{
  margin: 0.625rem;
}
.ml-10{
  margin-left: 0.625rem;
}
.mr-10{
  margin-right: 0.625rem;
}
.mt-10{
  margin-top: 0.625rem;
}
.mb-10{
  margin-bottom: 0.625rem;
}

/* margin 20  */
.m-20{
  margin: 1.25rem;
}
.ml-20{
  margin-left: 1.25rem;
}
.mr-20{
  margin-right: 1.25rem;
}
.mt-20{
  margin-top: 1.25rem;
}
.mb-20{
  margin-bottom: 1.25rem;
}

/* Margin 30 */
.m-30{
  margin: 1.875rem;
}
.ml-30{
  margin-left: 1.875rem;
}
.mr-30{
  margin-right: 1.875rem;
}
.mt-30{
  margin-top: 1.875rem;
}
.mb-30{
  margin-bottom: 1.875rem;
}

/* Margin 50 */
.m-50{
  margin: 3.125rem;
}
.ml-50{
  margin-left: 3.125rem;
}
.mr-50{
  margin-right: 3.125rem;
}
.mt-50{
  margin-top: 3.125rem;
}
.mb-50{
  margin-bottom: 3.125rem;
}


/* Paddings */
.p-10{
  padding: 0.625rem;
}
.pl-10{
  padding-left: 0.625rem;
}
.pr-10{
  padding-right: 0.625rem;
}
.pt-10{
  padding-top: 0.625rem;
}
.pb-10{
  padding-bottom: 0.625rem;
}

/* Padding 20  */
.p-20{
  padding: 1.25rem;
}
.pl-20{
  padding-left: 1.25rem;
}
.pr-20{
  padding-right: 1.25rem;
}
.pt-20{
  padding-top: 1.25rem;
}
.pb-20{
  padding-bottom: 1.25rem;
}

/* padding 30 */
.p-30{
  padding: 1.875rem;
}
.pl-30{
  padding-left: 1.875rem;
}
.pr-30{
  padding-right: 1.875rem;
}
.pt-30{
  padding-top: 1.875rem;
}
.pb-30{
  padding-bottom: 1.875rem;
}

/* Padding 50*/
.p-50{
  padding: 3.125rem;
}
.pl-50{
  padding-left: 3.125rem;
}
.pr-50{
  padding-right: 3.125rem;
}
.pt-50{
  margin-top: 3.125rem;
}
.pb-50{
  padding-bottom: 3.125rem;
}


/* Border */

.border-none{
  border: none;
}

/* color 1*/
.border-bottom-uno{
  border-bottom: 0.0625rem solid var(--uno);
}
.border-top-uno{
  border-top: 0.0625rem solid var(--uno);
}
.border-right-uno{
  border-right: 0.0625rem solid var(--uno);
}
.border-left-uno{
  border-left: 0.0625rem solid var(--uno);
}
.border-uno{
  border: 0.0625rem solid var(--uno);
}


/* color 2*/
.border-bottom-dos{
  border-bottom: 0.0625rem solid var(--dos);
}
.border-top-dos{
  border-top: 0.0625rem solid var(--dos);
}
.border-right-dos{
  border-right: 0.0625rem solid var(--dos);
}
.border-left-dos{
  border-left: 0.0625rem solid var(--dos);
}
.border-dos{
  border: 0.0625rem solid var(--dos);
}


/* col-dosr 3 */
.border-bottom-tres{
  border-bottom: 0.0625rem solid var(--tres);
}
.border-top-tres{
  border-top: 0.0625rem solid var(--tres);
}
.border-right-tres{
  border-right: 0.0625rem solid var(--tres);
}
.border-left-tres{
  border-left: 0.0625rem solid var(--tres);
}
.border-tres{
  border: 0.0625rem solid var(--tres);
}


/* color 4 */
.border-bottom-cuatro{
  border-bottom: 0.0625rem solid var(--cuatro);
}
.border-top-cuatro{
  border-top: 0.0625rem solid var(--cuatro);
}
.border-right-cuatro{
  border-right: 0.0625rem solid var(--cuatro);
}
.border-left-cuatro{
  border-left: 0.0625rem solid var(--cuatro);
}
.border-cuatro{
  border: 0.0625rem solid var(--cuatro);
}


/* border-radius */

.border-radius-5{
  border-radius: 0.3125rem;
}
.border-radius-10{
  border-radius: 0.625rem;
}



/* width */
.full-width{
  width: 100%;
}


/* Display */

.display-none{
  display: none;
}
.display-flex{
  display: flex;
}
.display-inline-block{
  display: inline-block;
}
.display-block{
  display: block;
}
.hide{
  visibility: hidden;
}

/* flexbox */

.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.flex-justify-center{
  justify-content: center;
}
.flex-justify-between{
  justify-content:space-between;
}
.flex-justify-around{
  justify-content: space-around;
}
.flex-alignContent-center{
  align-content: center;
}
.flex-alignContent-start{
  align-content:flex-start;
}
.flex-alignSelf-center{
  align-self: center;
}
.flex-alignItems-center{
  align-items: center;
}

/* div */

.div-1{
  width: 6.25rem;
}
.div-2{
  width: 12.5rem;
}
.div-3{
  width: 18.25rem;
}
.div-4{
  width: 25rem;
}
.div-5{
  width: 31.25rem;
}


/* Nav bar */

.nav{
  width: 20%;

}




@media screen and (max-width: 1150px) {

.bg-img{
  background-image: url(../IMG/bg-mobil-2.jpg);
}

}
@media screen and (max-width: 380px) {

.bg-img{
  background-image: url(../IMG/bg-mobil.jpg);
}

}





























.distraacted{}
